/* app css stylesheet */

body {
  font-family: 'Open Sans', sans-serif;
}


/* ----------------------- */


/* ---------------elements */


/* ----------------------- */

.nav-tabs>li {
  float: none;
  display: inline-block;
  *display: inline;
  /* ie7 fix */
  zoom: 1;
  /* hasLayout ie7 trigger */
}

.nav-tabs {
  text-align: center;
}

.tab-pane {
  padding: 20px 0;
}

.carousel {
  margin: 20px 0;
}

.nav-tabs {
  margin: 20px 0;
}

.panel-heading {
  padding: 0;
  /* border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px; */
}


/* ----------------------- */


/* ------------------views */


/* ----------------------- */

.news-view select {
  margin: 40px 0;
}


/* ----------------------- */


/* ----------media queries */


/* ----------------------- */

@media (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 970px;
  }
}