/* app css stylesheet */

.tab-pane {
  padding: 20px 0;
}

.carousel {
  margin: 20px 0;
}

.nav-tabs {
  margin: 20px 0;
}

@media (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 970px;
  }
}
